<!DOCTYPE html>

<html>
    <head>
        <title>Movie search app</title>
        <link rel="stylesheet" href="../css/index.css">
    </head>

    <body>
        <div id="mainContainer">
            <h1>Search for a movie</h1>
            <form id="inputForm" action="/movieSearch" method="get">
                <input id="movieInput" type="text" autocomplete="off" name="movieName">
                <br>
                <input id="submitButton" type="submit" value="Search">
            </form>
        </div>
    </body>

</html>